:root {
  --bcg-c: #000617;
  --blue-wood: #344c5c;
  --lynch: #647d94;
  --casper: #adc5d4;
  --dark-blue: #001428;
  --russian-blue: #00305c;
  --orient: #00568b;
  --light-blue: #1278aa;
  --very-dark-blue: #000b2f;
  --san-juan: #2e5073;
  --light-gray: #8196ab;
  --gray: #57728f; }

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html {
  box-sizing: inherit; }

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #000617;
  color: #fff; }

.logo {
  position: relative; }
  .logo_h-1 {
    font-size: 2.2rem;
    color: #b19f87;
    position: relative;
    animation: typing 8s steps(10) infinite;
    overflow: hidden; }

@keyframes blinkCursor {
  0%, 75% {
    opacity: 1; }
  76%, 100% {
    opacity: 0; } }

@keyframes typing {
  0%, 90%, 100% {
    width: 0; }
  30%, 60% {
    width: 173.717px; } }

.logo::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 2px;
  height: 100%;
  background: #e0ceb4;
  animation: blinkCursor 0.8s steps(3) infinite; }

.nav-ul {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 2rem;
  height: 3rem; }

.nav_li {
  transition: .3s all; }

.nav_li::after {
  content: "";
  height: 2px;
  width: 0;
  background-color: #00305c;
  display: block;
  transition: .5s all; }

.nav_li:hover::after {
  content: "";
  height: 2px;
  width: 100%;
  background-color: #00305c;
  display: block; }

.nav_li:hover {
  transform: translateY(-0.1rem); }

.nav_link:link, .nav_link:visited {
  color: #fff;
  text-decoration: none;
  transition: .3s all; }

.nav_link:link:hover, .nav_link:visited:hover {
  opacity: 0.7; }

.hamburger {
  display: none;
  cursor: pointer; }

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background-color: #fff; }

@media (max-width: 53.125em) {
  .hamburger {
    display: block; }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0; }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(-45deg); }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(45deg); }
  .nav-ul {
    position: fixed;
    left: -100%;
    top: 90px;
    gap: 0;
    flex-direction: column;
    background-color: var(--very-dark-blue);
    width: 100%;
    text-align: center;
    transition: 0.3s; }
  .nav_li {
    margin: 1rem 0; }
  .nav-ul.active {
    left: 0;
    padding-bottom: 18rem; } }

.header_text-box {
  flex: 1;
  display: flex;
  flex-direction: column; }
  @media (max-width: 1100px) {
    .header_text-box {
      align-items: center;
      margin-bottom: 5rem; } }

.header_h-1 {
  font-size: clamp(3.3rem, 5vw, 4.5rem);
  padding-top: 3rem;
  margin-bottom: 2rem;
  width: clamp(20rem, 35vw, 30rem);
  line-height: 1; }
  @media (max-width: 1100px) {
    .header_h-1 {
      width: 100%;
      text-align: center;
      padding-top: 0;
      margin-bottom: 2.5rem; } }

.header_p {
  width: 25rem;
  font-size: 0.9rem;
  line-height: 1.5;
  color: var(--casper); }
  @media (max-width: 1100px) {
    .header_p {
      text-align: center;
      width: 70%; } }
  @media (max-width: 755px) {
    .header_p {
      text-align: center;
      width: 90%; } }

.header_img {
  flex: 1;
  width: clamp(35rem, 40vw, 40rem);
  height: clamp(20rem, 28vw, 25rem);
  transition: 1s all; }
  @media (max-width: 640px) {
    .header_img {
      width: clamp(20rem, 30vw, 30rem);
      height: clamp(15rem, 28vw, 25rem); } }
  @media (max-width: 350px) {
    .header_img {
      width: 15rem;
      height: 10rem; } }

.header_img:hover {
  cursor: pointer;
  transform: rotate(-10deg); }

.footer-box_h-1 {
  font-size: 2.2rem;
  color: #b19f87;
  transition: 1s all; }

.footer-box_h-1:hover {
  cursor: pointer;
  transform: scale(1.2); }

.footer-box_ul {
  list-style: none;
  display: flex;
  gap: 1rem; }
  @media (max-width: 470px) {
    .footer-box_ul {
      flex-direction: column;
      text-align: center; } }

.footer-box_li {
  transition: .3s all; }

.footer-box_li::after {
  content: "";
  height: 2px;
  width: 0;
  background-color: #00305c;
  display: block;
  transition: .5s all; }

.footer-box_li:hover::after {
  content: "";
  height: 2px;
  width: 100%;
  background-color: #00305c;
  display: block; }

.footer-box_li:hover {
  transform: translateY(-0.1rem); }

.footer-box_link:link, .footer-box_link:visited {
  color: #fff;
  text-decoration: none;
  transition: .3s all; }

.footer-box_link:link:hover, .footer-box_link:visited:hover {
  opacity: 0.7; }

.footer-box_contact {
  display: flex;
  flex-direction: column; }

.footer-box_mobile {
  margin-bottom: 1rem;
  display: flex;
  align-items: center; }

.footer-box_email {
  display: flex;
  align-items: center; }

.material-icons {
  margin-right: 0.8rem;
  text-decoration: none; }

.nav {
  max-width: 1440px;
  margin: 0 auto 7rem auto;
  min-height: 7rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 7vw; }
  @media (max-width: 1100px) {
    .nav {
      margin: 0 auto 4rem auto; } }

.header {
  max-width: 1440px;
  margin: 0 auto 5vw auto;
  min-height: 30rem;
  padding: 0 7vw;
  display: flex; }
  @media (max-width: 1100px) {
    .header {
      flex-direction: column;
      align-items: center;
      margin: 0 auto 8vw auto; } }
  @media (max-width: 800px) {
    .header {
      flex-direction: column;
      align-items: center;
      margin: 0 auto 15vw auto; } }
  @media (max-width: 470px) {
    .header {
      flex-direction: column;
      align-items: center;
      margin: 0 auto 25vw auto; } }

.footer {
  min-height: 13rem;
  background-color: #00010d;
  display: flex; }

.footer-box {
  max-width: 1440px;
  margin: 0 auto;
  padding: 3vw 7vw;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 4rem; }
  @media (max-width: 738px) {
    .footer-box {
      justify-content: center;
      padding: 8vw 7vw; } }
  @media (max-width: 470px) {
    .footer-box {
      flex-direction: column;
      padding: 15vw 7vw; } }

.btn-section {
  max-width: 1440px;
  margin: 0 auto 8rem auto;
  min-height: 7rem;
  padding: 0 7vw;
  display: flex;
  justify-content: center;
  align-items: center; }
  .btn-section_link:link, .btn-section_link:visited {
    text-decoration: none;
    color: #b19f87; }
  @media (max-width: 371px) {
    .btn-section_span-1 {
      margin-top: 1rem;
      display: block; } }
  .btn-section_btn {
    height: 5rem;
    width: 30rem;
    background-color: var(--very-dark-blue);
    border: none;
    position: relative;
    text-transform: uppercase;
    text-align: center;
    color: #b19f87;
    letter-spacing: 1rem;
    overflow: hidden;
    transition: .4s all; }
  .btn-section_btn:hover {
    cursor: pointer;
    background-color: transparent; }
  .btn-section_btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 4px;
    background-color: #fff;
    transition: all 0.5s; }
  .btn-section_btn:hover::before {
    left: 0; }
  .btn-section_btn::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 4px;
    background-color: #fff;
    transition: all 0.5s; }
  .btn-section_btn:hover::after {
    right: 0; }
  .btn-section_span::before {
    content: "";
    position: absolute;
    top: -100%;
    right: 0;
    width: 4px;
    height: 100%;
    background-color: #fff;
    transition: all 0.5s; }
  .btn-section_btn:hover span::before {
    top: 0; }
  .btn-section_span::after {
    content: "";
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 4px;
    height: 100%;
    background-color: #fff;
    transition: all 0.5s; }
  .btn-section_btn:hover .btn-section_span::after {
    bottom: 0; }

@keyframes animate {
  0% {
    box-shadow: 0 0 50px #0f0, inset 0 0 50px #0f0;
    filter: hue-rotate(0deg); }
  20% {
    box-shadow: 0 0 60px #0f0, inset0 0 60px #0f0; }
  40% {
    box-shadow: 0 0 40px #0f0, inset0 0 40px #0f0; }
  60% {
    box-shadow: 0 0 80px #0f0, inset0 0 80px #0f0; }
  80% {
    box-shadow: 0 0 100px #0f0, inset0 0 100px #0f0; }
  10% {
    box-shadow: 0 0 50px #0f0, inset0 0 50px #0f0;
    filter: hue-rotate(360deg); } }
