:root {
    --bcg-c: #000617;
    --blue-wood: #344c5c;
    --lynch: #647d94;
    --casper: #adc5d4;
    --dark-blue: #001428;
    --russian-blue: #00305c;
    --orient: #00568b;
    --light-blue: #1278aa;
    --very-dark-blue: #000b2f;
    --san-juan: #2e5073;
    --light-gray: #8196ab;
    --gray: #57728f;
}


*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    box-sizing: inherit;
}


body {
    font-family: 'Open Sans', sans-serif;
    background-color: #000617;
    color: #fff;
}